body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
.main-menue
{
    display: flex;
    background-color: #0B0D17;
    height: 66px;
}
.logo img
{
    height: 60px;
    
}
.menu{
    width: 50%;
    margin-left: 400px;
    margin-top: 3px;
}
.menu li{
    display: inline;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.menu li a{
    text-decoration: none;
    color: #FD4D30;
}
.menu li a:hover
{
    color: #FFFFFF;
    font-weight: 400;
}
.container
{
    display: flex;
    width: 85%;
    margin: auto;

}
.home{
    background-image: url(../images/shapes/f.jpg);
    padding: 40px 0;
}
.word-color
{
    color: #FD5432;
}
.left-home
{   
    width: 50%;
    margin-top: 60px;
    color: #575757;
}
.left-home h1
{
    word-spacing: 10px;
}
.btn
{
    padding: 15px 30px;
    background-image: linear-gradient(to right,#FB964B,#FD5232);
    width: 18%;
    border-radius: 30px;
    text-align: center;
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn:hover
{
    background-image: linear-gradient(to right,#FD5232,#FB964B);
    cursor: pointer;
}
.right-home
{
    width: 50%;
}
.right-home img
{
    height: 600px;
}
.about
{
    padding: 40px 0;
    background-image: url(../images/shapes/f1.jpg);
    background-repeat: no-repeat;
}
.left-about
{
    width: 50%;
}
.left-about img
{
    height: 600px;
    width: 90%;
    margin-left: 50px;
   
 
}
.right-about
{
    width: 50%;
    margin-top: 100px;
    color: #575757;
}
.right-about p
{
    margin-top: 40px;
}
.btn2
{
    margin-top: 80px;
    padding: 15px 30px;
    background-image: linear-gradient(to right,#099AF8,#A5D4EE);
    width: 18%;
    border-radius: 30px;
    text-align: center;
}
.btn2 a
{
    text-decoration: none;
    color: #575757;

}
.btn2:hover{
    cursor: pointer;
    background-image: linear-gradient(to right,#A5D4EE,#099AF8);
}
.title
{
    width: 100%;
    display: block;
}
.recipies-box
{
    display: flex;
}
.recipies
{
    padding: 50px 0;
}
.title
{
    margin: auto;
    display: block;
    width: 40%;
    text-align: center;
    color: #575757;
}
.recepies-item
{
    width: 30%;
    margin-left: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 1px #888888; 
    padding: 15px;
    color: #575757;
}
.recepies-item img
{
    height: 330px;
    border-radius: 40px;
}
.review
{
    margin-bottom: 50px;
}
.review-box
{
    display: flex;
    box-shadow: 1px 1px 10px 1px #888888; 
    margin-top: 50px;
    border-radius: 20px;
    width: 100%;
}
.review-count
{
    width: 30%;
    padding: 20px;
    text-align: justify;
    color: #575757;
    margin-left: 130px;
}
.review-count h2{
    font-size: 40px;
    margin: 0;
}
.review-count p
{
    font-size: 12px;
}
footer
{
    background-color: #0B0D17;
    padding: 50px 0;
}
footer img{
    height: 60px;
    margin: auto;
    display: block;
}
footer p
{
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}